/* Reset */

*
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}

a
{
    text-decoration: none;
}

ul{
    list-style: none;
}

input,
button
{
    border: none;
    outline: none;
}

::placeholder
{
    color: black;
}

/* Title Page */

@keyframes slideOutFromBottom {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }

.titleContainer
{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #78C2AD;
    animation: 800ms ease-in 1.5s 1 slideOutFromBottom;
    position: absolute;
    animation-fill-mode: forwards;
}

.titleLogoContainer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 4vw;
}

.titleLogo
{
    color: white;
    text-shadow: 6px 6px 0px #F3969A;
    font-size: max(6rem, 5vw);
    font-style: normal;
    font-weight: 900;
    -webkit-text-stroke: 0.8px black;
}

/* Navbar */

.navbarContainer,
.loginNavbarContainer
{
    background-color: #78C2AD;
    display: flex;
    width: 100vw;
    height: 5rem;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

.navbarMobileTop
{
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
}

.navbarLogo
{
    color: white;
    text-shadow: 2px 2px 0px #F3969A;
    font-size: 2rem;
    font-weight: 900;
    margin-left: 1rem;
    -webkit-text-stroke: 0.3px black;
    max-height: 5rem;
}

.navbarItemsContainer
{
    margin-right: 1.5rem;
    display: flex;
    gap: 1rem;
}

.navbarItems
{
    color: white;
    font-size: 1.25rem;
    font-weight: 400;
    text-decoration: none;
}

.menuContainer
{
    display: none;
}

/* Responsive Navbar for mobile */

@media screen and (max-width: 750px)
{

    .navbarContainer,
    .loginNavbarContainer
    {
        flex-wrap: wrap;
        transition: height 0.5s ease-out;
    }

    .navbarMobileTop
    {
        width: 100vw;
    }

    .navbarItemsContainer
    {
        display: block;
        visibility: hidden;
    }

    .menuContainer
    {
        display: block;
        margin-right: 1rem;
    }

    .navbarItems
    {
        margin-left: 1rem;
        width: 100%;
        height: 3rem;
        display: block;
        align-items: center;
        transition: all 0.5s ease-out;
    }
}

/* Main Content */

.contentContainer
{
    display: flex;
    margin-top: 5rem;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    min-height: 0;
}

/* Log In Form */

.loginContainer
{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginForm
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: -40vh;
}

.loginButtonContainer
{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.credentialsForm,
.loginButton,
.guestButton
{
    width: 16.25rem;
    height: 2.5rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    font-weight: 500;
}

.credentialsContainer
{
    border: 0.5px solid black;
    border-top: none;
}

.credentialsForm
{
    border-top: 0.5px solid black;
    -webkit-appearance: none;
    border-radius: 0;
}

.loginButton,
.guestButton
{
    border: 0.5px solid black;
    justify-content: center;
    box-shadow: 2px 2px 0px 0px #000;
}

.loginButton
{
    background-color: #78C2AD;
    color: white;
}

.loginButton:hover
{
    background-color: #56b399;
}

.loginButton:active
{
    background-color: #F3969A;
}

.guestButton
{
    background-color: #ffffff;
    color: black;
}

.guestButton:hover
{
   background-color: #e6e6e6; 
}

.guestButton:active
{
   background-color: #F3969A;
   color: white; 
}

/* Home */

.accountsContainer
{
    display: flex;
    flex-grow: 1;
    min-width: 0;
    min-height: 0;
}

.accountItemsContainer
{
    width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    box-sizing: border-box;
    padding: 1rem;
}

.typeContainer,
.accountItem
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
}

.typeName
{
    font-size: 1.75rem;
    font-weight: 500;
}

.typeTotal
{
    font-size: 1.5rem;
    font-weight: 700;
}

.accountName
{
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 300;
    padding-left: 0.875rem;
}

.accountTotal
{
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 400;
}

/* Chart */

.chartContainer
{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    min-height: 0;
}

.canvasTitle
{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1rem;
}

.chartTitle
{
    font-size: 1.75rem;
    font-weight: 500;
}

.chartButton
{
}

.canvasContainer
{
    display: flex;
    box-sizing: border-box;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 20rem;
    min-height: 20rem;
}

.lineButton,
.barButton
{
    justify-self: end;
    width: 2rem;
    height: 2rem;
    box-shadow: 2px 2px 0px 0px #000;
    border: 0.5px solid black;
}

.lineButton
{
    background: url('chartButton.svg');
}

.barButton
{
    background: url('barButton.svg');
}

@media screen and (min-width: 750px)
{
    .chartContainer
    {
        box-shadow:  rgba(27, 31, 35, 0.15) -1.5px 0px 0px 0px;
    }

    .barButton
    {
        margin-right: 0.5rem;
    }

    .canvasContainer
    {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
    }
}

@media screen and (max-width: 1000px)
{

    .chartContainer
    {
        box-shadow:  rgba(27, 31, 35, 0.15) 0px -1.5px 0px 0px;
    }

    .accountItemsContainer
    {
        width: 100%;
    }

    .contentContainer
    {
        flex-direction: column;
    }

    .accountsContainer
    {
        flex-direction: column;
    }
}

