/* Reset */

*
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a
{
    text-decoration: none;
}

ul{
    list-style: none;
}

input,
button
{
    border: none;
    outline: none;
}

::placeholder
{
    color: black;
}

/* Title Page */

@keyframes slideOutFromBottom {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }

.titleContainer
{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #78C2AD;
    animation: 800ms ease-in 1.5s 1 slideOutFromBottom;
    position: absolute;
}

.titleLogoContainer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 4vw;
}

.titleLogo
{
    color: white;
    text-shadow: 6px 6px 0px #F3969A;
    font-size: max(6rem, 5vw);
    font-style: normal;
    font-weight: 900;
    -webkit-text-stroke: 0.8px black;
}

/* Navbar */

.navbarContainer
{
    background-color: #78C2AD;
    display: flex;
    width: 100vw;
    height: 5rem;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

.navbarMobileTop
{
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
}

.navbarLogo
{
    color: white;
    text-shadow: 2px 2px 0px #F3969A;
    font-size: 2rem;
    font-weight: 900;
    margin-left: 1rem;
    -webkit-text-stroke: 0.3px black;
    max-height: 5rem;
}

.navbarItemsContainer
{
    margin-right: 1.5rem;
    display: flex;
    gap: 1rem;
}

.navbarItems
{
    color: white;
    font-size: 1.25rem;
    font-weight: 400;
    text-decoration: none;
}

.menuContainer
{
    display: none;
}

/* Responsive Navbar for mobile */

@media screen and (max-width: 700px)
{

    .navbarContainer
    {
        flex-wrap: wrap;
        transition: height 0.5s ease-out;
    }

    .navbarMobileTop
    {
        width: 100vw;
    }

    .navbarItemsContainer
    {
        display: block;
        visibility: hidden;
        
    }

    .menuContainer
    {
        display: block;
        margin-right: 1rem;
    }

    .navbarItems
    {
        margin-left: 1rem;
        width: 100%;
        height: 3rem;
        display: block;
        align-items: center;
        transition: all 0.5s ease-out;
    }
}

/* Main Content */

.contentContainer
{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Log In Form */

.loginForm
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: -40vh;
}

.credentialsContainer
{
    border: 0.5px solid black;
    border-top: none;
}

.loginButtonContainer
{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.credentialsForm,
.loginButton,
.guestButton
{
    width: 16.25rem;
    height: 2.5rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    font-weight: 500;
}

.credentialsForm
{
    border-top: 0.5px solid black;
}

.loginButton,
.guestButton
{
    border: 0.5px solid black;
    justify-content: center;
    box-shadow: 2px 2px 0px 0px #000;
}

.loginButton
{
    background-color: #78C2AD;
    color: white;
}

.loginButton:hover
{
    background-color: #56b399;
}

.loginButton:active
{
    background-color: #F3969A;
}

.guestButton
{
    background-color: #ffffff;
    color: black;
}

.guestButton:hover
{
   background-color: #e6e6e6; 
}

.guestButton:active
{
   background-color: #F3969A;
   color: white; 
}

/* Home */

.accountsContainer
{
    border: 1px solid #000;
    border-top: none;
    box-shadow: 2px 2px 0px 0px #000;
    margin-top: 6rem;
    margin-bottom: 1rem;
}

.accountItemsContainer
{
    width: 20rem;
    border: 1px solid #000;
    margin: -1px;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    box-sizing: border-box;
    padding: 1rem;
}

.typeContainer,
.accountItem
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
}

.typeName
{
    font-size: 1.75rem;
    font-weight: 500;
}

.typeTotal
{
    font-size: 1.5rem;
    font-weight: 700;
}

.accountItem
{

}

.accountName
{
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 300;
    padding-left: 0.875rem;
}

.accountTotal
{
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 400;
}

/* Chart */

.chartContainer
{
    border: 1px solid #000; 
    margin: -1px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    box-sizing: border-box;
    position: relative;
}

.chartTitle
{
    font-size: 1.75rem;
    font-weight: 500;
    padding: 1rem;
}

.canvasContainer
{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: -1px;
    height: 20rem;
    width: 20rem;
}