{% extends "layout.html" %}

{% block title %}
    Accounts
{% endblock %}

{% block main %}

    <div class="contentContainer">
        <div class="accountsContainer">
            <div class="addTransactionContainer">
                <div class="addAccountsContainer">
                    <h2 class="chartTitle">Accounts</h2>
                    <div class="chartButtonContainer">
                        <a href="/addAccount">
                            <button type="button" class="transactionButton">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                    <path d="M8 0V16M0 8H16" stroke="black" stroke-width="4"/>
                                </svg>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="accountItemsContainer">
                    <div class="typeContainer">
                        <h1 class="typeName">Checking</h1>
                        <h1 class="typeTotal">{{ checkingTotal | usd}}</h1>
                    </div>
                    {% for account in accounts %}
                        {% if account.category == "Checking" %}
                            <form class="editForm" action="/editAccount" method="get">
                                <div class="accountItem">
                                    <a onclick="submitForm()" class="editContainer">
                                        <h2 class="accountName"> {{ account.name }}</h2>
                                        <h2 class="accountTotal">{{ account.balance | usd }}</h2>
                                        <input type="hidden" name="accountID" value={{ account.id }}>
                                    </a>
                                </div>
                            </form>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="accountItemsContainer">
                    <div class="typeContainer">
                        <h1 class="typeName">Savings</h1>
                        <h1 class="typeTotal">{{ savingsTotal | usd }}</h1>
                    </div>
                    {% for account in accounts %}
                        {% if account.category == "Savings" %}
                        <form class="editForm" action="/editAccount" method="get">
                            <div class="accountItem">
                                <a onclick="submitForm()" class="editContainer">
                                    <h2 class="accountName"> {{ account.name }}</h2>
                                    <h2 class="accountTotal">{{ account.balance | usd }}</h2>
                                    <input type="hidden" name="accountID" value={{ account.id }}>
                                </a>
                            </div>
                        </form>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script>
        const form = document.querySelector(".editForm");
        function submitForm()
        {
            form.submit();
        }
    </script>

{% endblock %}