{% extends "layout.html" %}

{% block title %}
    Add Transaction
{% endblock %}

{% block main %}

    <div class="contentContainer">
        <div class="accountsContainer">
            <div class="addTransactionContainer">
                <form action="/addTransaction" method="post">
                    <h2 class="chartTitle">Add Transaction</h2>
                    <div class="transactionFormRow">
                        <h3 class="transactionSubtitle">Type</h3>
                        <select class="transactionInput" name="type">
                            <option value="Expense">Expense</option>
                            <option value="Income">Income</option>
                        </select>
                    </div>
                    <div class="transactionFormRow">
                        <h3 class="transactionSubtitle">Name</h3>
                        <input class="transactionInput" type="text" name="name"></input>
                    </div>
                    <div class="transactionFormRow">
                        <h3 class="transactionSubtitle">Category</h3>
                        <input class="transactionInput" name="category"></input>
                    </div>
                    <div class="transactionFormRow">
                        <h3 class="transactionSubtitle">Account</h3>
                        <select class="transactionInput" name="account">
                            {% for account in accounts %}
                            <option value={{ account.id }}>{{ account.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="transactionFormRow">
                        <h3 class="transactionSubtitle">Amount</h3>
                        <input class="transactionInput" name="amount"></input>
                    </div>
                    <button class="loginButton" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}