{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class="loginContainer">
        <form class="loginForm" action="/login" method="post">
            <div class="credentialsContainer">
                <input class="credentialsForm" name="username" type="text" placeholder="Username"></input>
                <input class="credentialsForm" name="password" type="password" placeholder="Password"></input>
                <input type="hidden" name="guestForm" class="guestForm"></input>
            </div>
            <div class="loginButtonContainer">
                <button class="loginButton" type="submit">Sign In</button>
                <button class="guestButton" onclick="guestLogin()">Guest</button>
            </div>
        </form>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flashContainer">
            <ul class=flashes>
                {% for category, message in messages %}
                    {% if category == "error" %}
                        <div class="flashLogoContainer errorContainer">
                            <img src="static/errorIcon.svg">
                        </div>
                        <li class="flashText">{{ message }}</li>
                    {% elif category == "success" %}
                        <div class="flashLogoContainer successContainer">
                            <img src="static/successIcon.svg">
                        </div>
                        <li class="flashText">{{ message }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    {% endwith %}

    {% if animationLoaded[0] != "True"%}
    <div class="titleContainer">
        <div class="titleLogoContainer">
            <h1 class="titleLogo">your</h1>
            <h1 class="titleLogo">Finance</h1>
        </div>
    </div>
    {% set temp = animationLoaded.append("True") %}
    {% endif %}

    <script>
        const FORM = document.querySelector(".loginForm");
        let guestInput = document.querySelector(".guestForm");
        function guestLogin() {
            FORM.submit();
            guestInput.value = "GUEST_LOGIN";
        }
    </script>
{% endblock %}