{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

    <div class="loginContainer">
        <form class="loginForm" action="/login" method="post">
            <div class="credentialsContainer">
                <input class="credentialsForm" name="username" type="text" placeholder="Username"></input>
                <input class="credentialsForm" name="password" type="password" placeholder="Password"></input>
                <input type="hidden" class="guestForm" name="guestName"></input>
            </div>
            <div class="loginButtonContainer">
                <button class="loginButton" type="submit">Sign In</button>
                <button class="guestButton" onclick="guestLogin()">Guest</button>
            </div>
        </form>
    </div>
    {% if animationLoaded[0] != "True"%}
    <div class="titleContainer">
        <div class="titleLogoContainer">
            <h1 class="titleLogo">your</h1>
            <h1 class="titleLogo">Finance</h1>
        </div>
    </div>
    {% set temp = animationLoaded.append("True") %}
    {% endif %}

    <script>
        const form = document.querySelector(".loginForm");
        let guestInput = document.querySelector(".guestForm");
        function guestLogin() {
            form.submit();
            guestInput.value = "login";
        }
    </script>
{% endblock %}