{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

    <div class="loginContainer">
        <form class="loginForm" action="/register" method="post">
            <div class="credentialsContainer">
                <input class="credentialsForm" name="username" type="text" placeholder="Username"></input>
                <input class="credentialsForm" name="password" type="password" placeholder="Password"></input>
                <input class="credentialsForm" name="confirmation" type="password" placeholder="Confirm Password"></input>
            </div>
            <div class="loginButtonContainer">
                <button class="registerButton" type="submit">Register</button>
            </div>
        </form>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flashContainer">
            <ul class=flashes>
                {% for category, message in messages %}
                    {% if category == "error" %}
                        <div class="flashLogoContainer errorContainer">
                            <img src="static/svgs/errorIcon.svg">
                        </div>
                        <li class="flashText">{{ message }}</li>
                    {% elif category == "success" %}
                        <div class="flashLogoContainer successContainer">
                            <img src="static/svgs/successIcon.svg">
                        </div>
                        <li class="flashText">{{ message }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% endwith %}

{% endblock %}