{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

    <div class="loginContainer">
        <form class="loginForm" action="/register" method="post">
            <div class="credentialsContainer">
                <input class="credentialsForm" name="username" type="text" placeholder="Username"></input>
                <input class="credentialsForm" name="password" type="password" placeholder="Password"></input>
                <input class="credentialsForm" name="confirmation" type="password" placeholder="Confirm Password"></input>
            </div>
            <div class="loginButtonContainer">
                <button class="registerButton" type="submit">Register</button>
            </div>
        </form>
    </div>

{% endblock %}