{% extends "layout.html" %}

{% block title %}
    Transfer Money
{% endblock %}

{% block main %}

    <div class="contentContainer">
        <div class="accountsContainer">
            <div class="addTransactionContainer">
                <form action="/transfer" method="post" class="addTransactionForm">
                    <h2 class="chartTitle">Transfer</h2>
                    <div class="transactionFormRow">
                        <h3 class="transactionSubtitle">Date</h3>
                        <input class="transactionInput" type="date" name="date"></input>
                    </div>
                    <div class="transactionFormRow">
                        <h3 class="transactionSubtitle">From</h3>
                        <select class="transactionInput" name="from">
                            {% for account in accounts %}
                            <option value={{ account.id }}>{{ account.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="transactionFormRow">
                        <h3 class="transactionSubtitle">To</h3>
                        <select class="transactionInput" name="to">
                            {% for account in accounts %}
                            <option value={{ account.id }}>{{ account.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="transactionFormRow">
                        <h3 class="transactionSubtitle">Amount</h3>
                        <input class="transactionInput" name="amount"></input>
                    </div>
                    <button class="loginButton" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flashContainer">
            <ul class=flashes>
                {% for category, message in messages %}
                    {% if category == "error" %}
                        <div class="flashLogoContainer errorContainer">
                            <img src="static/svgs/errorIcon.svg">
                        </div>
                        <li class="flashText">{{ message }}</li>
                    {% elif category == "success" %}
                        <div class="flashLogoContainer successContainer">
                            <img src="static/svgs/successIcon.svg">
                        </div>
                        <li class="flashText">{{ message }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% endwith %}

{% endblock %}