{% extends "layout.html" %}

{% block title %}
    Accounts
{% endblock %}

{% block main %}

    <div class="contentContainer">
        <div class="accountsContainer">
            <div class="rightContainer">
                <div class="hoverContent">
                    <div class="addAccountsContainer">
                        <h2 class="chartTitle">Transactions</h2>
                        <div class="chartButtonContainer">
                            <a href="/addTransaction">
                                <button type="button" class="transactionButton">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                        <path d="M8 0V16M0 8H16" stroke="black" stroke-width="4"/>
                                    </svg>
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="transactionsContainer">
                        <table class="transactionsTable">
                            <thead>
                                <tr class="transactionHeader">
                                    <th class="transactionDate">Date</th>
                                    <th class="transactionName">Name</th>
                                    <th class="transactionCategory">Category</th>
                                    <th class="transactionAccount">Account</th>
                                    <th class="transactionAmount">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for transaction in transactions %}
                                <tr class="transactionRow">
                                    <td class="transactionDate">{{ transaction.date }}</td>
                                    <td class="transactionName">{{ transaction.name }}</td>
                                    <td class="transactionCategory">{{ transaction.category }}</td>
                                    <td class="transactionAccount">{{ transaction.accountName }}</td>
                                    <td class="transactionAmount">{{ transaction.amount | usd }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}